<div>
        <app-navbar></app-navbar>
        <hr>
        <div class="container-fluid">
        <div class="card">
            <div class="card-header">
                BIENVENIDO {{ DatosSesion.Persona.nombre }} {{ DatosSesion.Persona.apellido }}
            </div>
            <div class="card-body">
                <h5 class="card-title"></h5>    
                <router-outlet></router-outlet>
            </div>
        </div>
        <app-footer></app-footer>
        </div>
        
</div>