<div class="container">

    <div class="row">

        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"></h5>
                    <div align="center">
                        <img alt="User Pic" src="/assets/images/img-01.png" class="img-circle img-responsive">
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title card-header">Informacion Personal</h5>
                    <table class="table">
                        <tbody>
                            <tr>
                                <td>CODIGO:</td>
                                <td>Programming</td>
                            </tr>
                            <tr>
                                <td>NOMBRE:</td>
                                <td>06/23/2013</td>
                            </tr>
                            <tr>
                                <td>DOCUMENTO:</td>
                                <td>01/24/1988</td>
                            </tr>

                            <tr>

                                <tr>
                                    <td>Email</td>
                                    <td><a href="mailto:info@support.com">info@support.com</a></td>
                                </tr>
                                <td>NUMERO TELEFONICO:</td>
                                <td>123-4567-890(Landline)</td>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
    <hr>
    <div class="row">

        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title card-header">Documentacion</h5>
                    <table class="table table-user-information">
                        <tbody>
                            <tr>
                                <td>FOTO DOCUMENTO:</td>
                                <td>Programming</td>
                            </tr>
                            <tr>
                                <td>Certificado de Notas/ICFES:</td>
                                <td>06/23/2013</td>
                            </tr>
                            <tr>
                                <td>Certificado de residencia:</td>
                                <td>01/24/1988</td>
                            </tr>

                            <tr>
                                <td>Recibo Publico:</td>
                                <td>Male</td>
                            </tr>

                        </tbody>
                    </table>

                    <a href="#" class="btn btn-primary">Actualizar</a>
                </div>
            </div>
        </div>

        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title card-header">Cambio de Contraseña</h5>
                    <table class="table table-user-information">
                        <tbody>
                            <tr>
                                <td>Contraseña:</td>
                                <td>Programming</td>
                            </tr>
                            <tr>
                                <td>Nueva Contraseña:</td>
                                <td>06/23/2013</td>
                            </tr>
                            <tr>
                                <td>Confirmar Nueva Contraseña:</td>
                                <td>01/24/1988</td>
                            </tr>

                        </tbody>
                    </table>

                    <a href="#" class="btn btn-primary">Cambiar Contraseña</a>
                </div>
            </div>
        </div>
    </div>

</div>