<div class="container col-12">
    <h1 align="center">Fabrica de Hilos</h1>
    <h2 align="center">Guatemala</h2>
    <h4 align="center">Universidad Mariano Galvez de Guatemala</h4>
</div>
<form [formGroup]="FormularioProducto" (ngSubmit)="crearProductos(); FormularioProducto.reset();">
    <div class="form-row">
        <div class="col-sm-2"></div>
        <div class="col">
            <input type="text" formControlName="nombreproducto" class="form-control" placeholder="Nombre Producto"
                focus>
        </div>
        <div class="col">
            <input type="text" formControlName="cantidad" class="form-control" placeholder="Cantidad">
        </div>
        <div class="col-sm-2"></div>
    </div>
    <br>
    <div class="form-row">
        <div class="col-sm-2"></div>
        <div class="col">
            <input type="text" formControlName="precio" class="form-control" placeholder="Precio">
        </div>
        <div class="col">
            <input type="text" formControlName="idcategoria" class="form-control" placeholder="Categoria">
        </div>
        <div class="col-sm-2"></div>
    </div>
    <br>
    <div class="form-row">
        <div class="col-sm-2"></div>
        <div class="col">
            <input type="text" formControlName="descripcion" class="form-control" placeholder="Descripcion">
        </div>
        <div class="col">
            <input type="text" formControlName="idproveedor" class="form-control" placeholder="Proveedor">
        </div>
        <div class="col-sm-2"></div>
    </div>
    <hr>
    <div>
        <div class="form-row">
            <div class="col-sm-2"></div>
            <div class="col">
                <button type="submit" class="btn btn-primary">Crear Producto</button>
            </div>

        </div>
        <hr>
    </div>
</form>
<hr>
<!-- seccion para mostrar los datos de los proveedores -->
<div class="container table-responsive-xl">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Codigo</th>
                <th scope="col">Descripcion</th>
                <th scope="col">Cantidad</th>
                <th scope="col">Precio</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let Producto of ListaProductos">
                <th scope="row">{{Producto.id}}</th>
                <td>{{Producto.nombreproducto}}</td>
                <td>{{Producto.cantidad}}</td>
                <td>Q {{Producto.precio}}</td>
                <td>{{Producto.descripcion}}</td>
            </tr>

        </tbody>
    </table>
</div>