<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand">Fabrica de Hilos</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a  routerLink="/dashboard" class="nav-link"> <i class="fas fa-home"></i> Home </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/ventas" routerLinkActive="active">Ventas</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Estaciones
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item">Ingreso Mercaderia</a>
          <a class="dropdown-item">Despacho</a>
          <a class="dropdown-item">Proveedores</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item">Clientes</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link">Inventario</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    <li class="nav-item active">
        <a class="nav-link glyphicon glyphicon-cog">Perfil
            <i class="fas fa-male"></i>
          <span class="sr-only"></span></a>
        
      </li>
  </div>
</nav>