<div class="container col-12">
    <h1 align="center">Fabrica de Hilos</h1>
    <h2 align="center">Guatemala</h2>
    <h4 align="center">Universidad Mariano Galvez de Guatemala</h4>
</div>
<form [formGroup]="FormularioProveedor" (ngSubmit)="crearProveedor(); FormularioProveedor.reset();" autocomplete="off">
    <div class="form-row">
        <div class="col-sm-2"></div>
        <div class="col">
            <input type="text" class="form-control" formControlName="sociedad" placeholder="Nombre de Sociedad" focus>
        </div>
        <div class="col">
            <input type="text" class="form-control" formControlName="comercial" placeholder="Nombre Comercial">
        </div>
        <div class="col-sm-2"></div>
    </div>
    <br>
    <div class="form-row">
        <div class="col-sm-2"></div>
        <div class="col">
            <input type="text" class="form-control" formControlName="nit" placeholder="Nit">
        </div>
        <div class="col">
            <input type="text" class="form-control" formControlName="idtelefono" placeholder="Telefono">
        </div>
        <div class="col-sm-2"></div>
    </div>
    <br>
    <div class="form-row">
        <div class="col-sm-2"></div>
        <div class="col">
            <input type="text" class="form-control" formControlName="iddireccion" placeholder="Direccion">
        </div>
        <div class="col-sm-2"></div>
    </div>
<hr>
    <div class="form-row">

        <div class="col-sm-2"></div>
        <div class="col-sm-2">
            <button class="login100-form-btn" type="submit">
                Crear Proveedor
            </button>
        </div>

    </div>
    <hr>
</form>
<hr>
<!-- seccion para mostrar los datos de los proveedores -->
<div class="container table-responsive-xl">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Sociedad</th>
                <th scope="col">Comercial</th>
                <th scope="col">Nit</th>
                <th scope="col">Telefono</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let Proveedores of ListaProveedores">
                    <th>{{Proveedores.id}}</th>
                    <td>{{Proveedores.sociedad}}</td>
                    <td>{{Proveedores.comercial}}</td>
                    <td>{{Proveedores.nit}}</td>
                    <td>{{Proveedores.idtelefono}}</td>
            </tr>
            
        </tbody>
    </table>
</div>