<form>
    <div class="form-row">
      <div class="col">
        <input type="text" class="form-control" placeholder="Primer nombre">
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="Segundo nombre">
      </div>
    </div>
    <div class="form-row">
        <div class="col">
            <input type="text" class="form-control" placeholder="Nit">
        </div>
        <div class="col">
            <input type="text" class="form-control" placeholder="Telefono">
          </div>
    </div>
    <div class="form-row">
        <input type="text" class="form-control" placeholder="Direccion">
    </div>
  </form>