<div class="limiter">
	<div class="container-login100">
		<div class="wrap-login100">
			<div class="login100-pic js-tilt" data-tilt>
				<img src="assets/images/img-01.png" alt="IMG">
			</div>

			<form class="login100-form validate-form" [formGroup]="forma" (ngSubmit)="crearPersona(); forma.reset();">
				<span class="login100-form-title">
					Registro de Usuarios
				</span>

				<div class="wrap-input100 validate-input " data-validate="CUI Requerido">
					<input class="input100" formControlName="dpi" type="text" name="dpi" placeholder="Documento de Identificacion">
					<span class="focus-input100"></span>
					<span class="symbol-input100">

					</span>
				</div>

				<div class="wrap-input100 validate-input " data-validate="Primer Nombre Requerido">
					<input class="input100" formControlName="pnombre" type="text" name="pnombre" placeholder="Primer Nombre">
					<span class="focus-input100"></span>
					<span class="symbol-input100">

					</span>
				</div>
				<div class="wrap-input100 validate-input" data-validate="Segundo Nombre Requerido">
					<input class="input100" formControlName="snombre" type="text" name="snombre" placeholder="Segundo Nombre">
					<span class="focus-input100"></span>
					<span class="symbol-input100">

					</span>
				</div>

				<div class="wrap-input100 validate-input " >
					<input class="input100" formControlName="tnombre" type="text" name="tnombre" placeholder="Tercer Nombre">
					<span class="focus-input100"></span>
					<span class="symbol-input100">

					</span>
				</div>

				<div class="wrap-input100 validate-input" data-validate="Primer Apellido Requerido">
					<input class="input100" formControlName="papellido" type="text" name="papellido" placeholder="Primer Apellido">
					<span class="focus-input100"></span>
					<span class="symbol-input100">

					</span>
				</div>
				<div class="wrap-input100 validate-input" data-validate="Segundo Apellido Requerido">
					<input class="input100" formControlName="sapellido" type="text" name="sapellido" placeholder="Segundo Apellido">
					<span class="focus-input100"></span>
					<span class="symbol-input100">

					</span>
				</div>

				<div class="wrap-input100 validate-input ">
					<input class="input100" formControlName="capellido" type="text" name="capellido" placeholder="Apellido Casada">
					<span class="focus-input100"></span>
					<span class="symbol-input100">

					</span>
				</div>

				<div class="wrap-input100 validate-input" data-validate="Nit Requerido">
					<input class="input100" formControlName="nit" type="text" name="nit" placeholder="Nit">
					<span class="focus-input100"></span>
					<span class="symbol-input100">

					</span>
				</div>
				<div class="wrap-input100 validate-input ">
					<input class="input100" formControlName="nacionalidad" type="text" name="nacionalidad" placeholder="Nacionalidad">
					<span class="focus-input100"></span>
					<span class="symbol-input100">

					</span>
				</div>
				<div class="wrap-input100 validate-input ">
					<input class="input100" formControlName="idtelefono" type="text" name="idtelefono" placeholder="Telefono">
					<span class="focus-input100"></span>
					<span class="symbol-input100">

					</span>
				</div>
				<div class="wrap-input100 validate-input ">
					<input class="input100" formControlName="iddireccion" type="text" name="iddireccion" placeholder="Direccion">
					<span class="focus-input100"></span>
					<span class="symbol-input100">

					</span>
				</div>
				<div class="wrap-input100 validate-input" data-validate="Usuario Requerido">
					<input class="input100" formControlName="usuario" type="text" name="usuario" placeholder="Usuario">
					<span class="focus-input100"></span>
					<span class="symbol-input100">

					</span>
				</div>

				<div class="wrap-input100 validate-input" data-validate="Contrasena Requerida">
					<input class="input100" formControlName="contrasena" type="password" name="pass" placeholder="Contrasena">
					<span class="focus-input100"></span>
					<span class="symbol-input100">
						<i class="fa fa-lock" aria-hidden="true"></i>
					</span>
				</div>

				<div class="container-login100-form-btn">
					<button type="submit" class="login100-form-btn">
						Crear Cuenta
					</button>
				</div>

			</form>
		</div>
	</div>
</div>