<div class="container col-12">
    <h1 align="center">Fabrica de Hilos</h1>
    <h2 align="center">Guatemala</h2>
    <h4 align="center">Universidad Mariano Galvez de Guatemala</h4>
</div>
<form>
    <div class="form-row">
        <div class="col-sm-2"></div>
        <div class="col">
            <input type="text" class="form-control" placeholder="Nombres" focus>
        </div>
        <div class="col">
            <input type="text" class="form-control" placeholder="Apellidos">
        </div>
        <div class="col-sm-2"></div>
    </div>
    <br>
    <div class="form-row">
        <div class="col-sm-2"></div>
        <div class="col">
            <input type="text" class="form-control" placeholder="Nit">
        </div>
        <div class="col">
            <input type="text" class="form-control" placeholder="Telefono">
        </div>
        <div class="col-sm-2"></div>
    </div>
    <br>
    <div class="form-row">
        <div class="col-sm-2"></div>
        <div class="col">
            <input type="text" class="form-control" placeholder="Direccion">
        </div>
        <div class="col-sm-2"></div>
    </div>
    <hr>
</form>
<hr>
<!-- seccion para mostrar los datos de los proveedores -->
<div class="container table-responsive-xl">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Codigo</th>
                <th scope="col">Descripcion</th>
                <th scope="col">Cantidad</th>
                <th scope="col">Precio</th>
            </tr>
        </thead>
        <tbody>
            <th scope="row">1</th>
            <td>2</td>
            <td>3</td>
            <td>4</td>
            <td>5</td>
        </tbody>
    </table>
</div>