<div class="card">
  <div class="card-header">
    Dashboard
  </div>
  <div class="card-body">
    <h5 class="card-title">Mostrando los datos de mi Empresa</h5>
    
    <!-- Filas para los charts -->
    <!-- Fila numero 1 -->
    <div class="row">
      <div class="col-lg-6">
          <div class="card">
              <div class="card-body">
                <h5 class="card-title">Ventas</h5>
                <h6 class="card-subtitle mb-2 text-muted">Detallado de la Empresa</h6>
                
                    <canvas id="canvas" > {{ chartbar }} </canvas>
                                
                <a href="#" class="card-link">Reporte</a>
                <a href="#" class="card-link">Detallados</a>
              </div>
            </div>
      </div>

      <div class="col-lg-6">
          <div class="card" >
              <div class="card-body">
                <h5 class="card-title">Productos</h5>
                <h6 class="card-subtitle mb-2 text-muted">Stock - Ventas</h6>
                <canvas id="pie" > {{ chartpie }} </canvas>
                <a href="#" class="card-link">Reporte</a>
                <a href="#" class="card-link">Detallados</a>
              </div>
            </div>
      </div>

    </div>
    <!-- separador de las filas -->
    <hr>
    <!-- Fila numero 2 -->
    <div class="row">
        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="card-link">Card link</a>
                  <a href="#" class="card-link">Another link</a>
                </div>
              </div>
        </div>
  
        <div class="col-lg-6">
            <div class="card" >
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="card-link">Card link</a>
                  <a href="#" class="card-link">Another link</a>
                </div>
              </div>
        </div>
  
    </div>
      
  
  </div>
</div>

